{
    background-color: gray;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
h1{
    color: orangered
  
}

label {
    border-style: none;
}